.searchbox {
  width: 1000px;
  height: 130px;
}

.barbutton {
  padding: 1%
}

.searchbar {
  width: 85%;
  font-size: 1.3em;
  margin-top: 1.5%;
  margin-left: 6%;
  height: 50px;
}

.tandy-orange {
  background-color: #fd5f06;
}

.searchicon {
  height: 40px;
}

.boxicon {
  margin-top: -1%;
}

.boxicon:hover {
  background-color: #e35502;
}

.boxlinks {
  color: white;
  text-decoration: none;
}

.boxlinks:hover {
  background-color: #e35502;
}

.links {
  text-align: right;
  margin-top: 1%;
  margin-right: 9%;
  font-size: 1.2em;
  font-weight: bold;
}

.headnav {
}
